.beerItem{}


.beerName {
  margin-bottom: -1rem;
}

.firstBrewed {
  margin-bottom: 2rem;
  color: #d9a5fc;
}
.imageBlock {
  height: fit-content;
  width: 20%;
  text-align: right;
}
.imageInfo{
  text-align: left;
}
.imageInfo b {
  color: #d9a5fc;
}
.beerInfo{
  width: 50%;
}
.beerItem-image {
  width: 50%;
  height: 70vh;
  
  object-fit: contain;
  filter: drop-shadow(-1px 1px 4px #d9a5fc);
  -webkit-filter: drop-shadow(-1px 1px 4px #d9a5fc);
}
.kegImage {
  width: 50%;
}

.imageInfo {
  display: flex;
  gap: 2rem;
  /* justify-content: space-evenly; */
}

.flexSection {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.infoBlock {
  width: 50%;
  /*border: 1px solid;
  */border-radius:0.5rem ;
  padding: 0.5rem 1rem;
  -webkit-border-radius:0.5rem ;
  -moz-border-radius:0.5rem ;
  -ms-border-radius:0.5rem ;
  -o-border-radius:0.5rem ;
  background-color: #252525;
  box-shadow: 0px 0px 3px 1px #000000;
}

.infoBlock h3 {
  color: orange;
}

/* .description {
}
.tips {
}
.foodPairs {
} */


@media (max-width: 575px) {
   .flexSection{
    flex-direction: column;
   }
   .imageBlock{
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .imageInfo{
    gap: 1rem;
   }
   .beerInfo{
    width: 90%;
   }

}

@media (min-width: 576px) and (max-width: 770px) {
   .beerItem-image{
    width: 100%;
   }
}