.overflow{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636bd;
}

.contactsBody{
    height: 70%;
    width: 80%;
    background-color: #ffffff;
    padding: 0.5rem;
}

.contactsContent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.contactsImage{
    height: 80%;
}

.contactsBody h4{
    color: #414141;
}
.contactTitle{
    margin: 0;
    font-weight: 600;
    font: inherit;
    text-align: left;
    font-size: 2rem;
}
.contactForm{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 0.5rem 0;
}


.checkLabel{
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    width: 100%;
    justify-content: center;
    color: #d24040;
}

.formInput{
    width: 90%;
    margin:0.5rem auto ;
    border: none;
    border-bottom: #414141 1.5px solid;
    outline: none;
   font-size: 16px;
    padding: 0.2rem 0.5rem;
}

.closeForm{
    width: fit-content;
    margin-right: 2rem;
    scale: 2;
    cursor: pointer;
    margin-left:auto ;
}
.formButton{
    width: 80%;
    height: 3rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #363636;
    color: #ffffff;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
}



.checkInput{
    cursor: pointer;
    background-color: orange;
}

.checkInput:checked {
  background-color: orange;
}

.agreed{
    color: green;
}

.disabled{
    cursor: not-allowed;
    background-color: gray;
    color: darkgray;
}

.sendAnim{
    animation: sendAnimation 3s   ease-in-out;
    -webkit-animation: sendAnimation 3s   ease-in-out;
}

@keyframes sendAnimation {
    from{
        width: 80%;
        
    }to{
        width: 2rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: green;
        color: #fff;
}

}

@media (max-width: 575px) {
 .contactForm{
    width: 100%;
 }

}

@media (min-width: 576px) and (max-width: 770px) {
   .contactForm{
    width: 80%;
   }
}