footer{
    /*border: 1px solid;
    */display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    height: 18rem;
    background-color: #101010;
    margin-top: 4rem;
    border-radius:0.8rem ;
    -webkit-border-radius:0.8rem ;
    -moz-border-radius:0.8rem ;
    -ms-border-radius:0.8rem ;
    -o-border-radius:0.8rem ;
    box-shadow: #222 0px 0px 5px 2px;
}

a{
    color: orange;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}
a:hover{
    transition: 5s;
    text-decoration: underline;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
}

.footer-nav,.footer-info{
    display: flex;
    height: 70%;
    padding:0.5rem ;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    justify-content: space-evenly;
}
.footer-info{
    align-items:center ;
}
.footer-info h2{
    color: orange;
    
}

.footerLogo{
    width: 30%;
    scale: 0.9;
    
}

@media (max-width: 575px) {
  footer{
    flex-direction: column;
    height: fit-content;
  }
  .footerLogo{
    width: 50%;
    scale: 1.2;
}
.footer-nav{
    gap: 1rem;
    
}

}