footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    height: 6rem;
    background-color: #363636;
    margin-top: 4rem;
    box-shadow: #a9a9a9 0px 0px 5px 1px;
}


.footer-nav,.footer-info{
    display: flex;
    height: 70%;
    gap:1rem ;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
}
.footer-info{
    align-items:center ;
    color: #a9a9a9;
}
.footer-info h2{
    color: orange;
    
}

.footer-nav a{
    color: #ffffff;
}

.footerLogo{
    width: 30%;
    scale: 0.9;
    
}

@media (max-width: 575px) {
  footer{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* height: fit-content; */

  }
  .footerLogo{
    width: 50%;
    scale: 1.2;
}
.footer-nav{
    gap: 1rem;
    
}

}