.overflow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.548);
  overflow: hidden;
  display: grid;
  place-items: center;
}
.modal {
  
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #414141;

}

.closeIcon {
  font-size: 18px;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  scale: 1.4;
  margin-right: 0.5rem;
  color: orange;
}

.closeIcon:hover {
  color: orangered;
}

.modalTitle {
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  font-size: 2rem;
  color: rgb(160, 211, 31);
}


@media (max-width: 575px) {

 
}

@media (min-width: 576px) and (max-width: 850px) {
 
}